plugin:
 build: .
 volumes:
  - .:/home/app/current
 command: npm test <% if (ports.length>0) { %>
 ports: <% ports.forEach(function(port){ %>
  - "<%= port %>:<%= port %>" <% })} %>
 environment:
  DEBUG: true
  NODE_ENV: development